body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(240, 240, 240)
}
header {
    flex: 0 80px;
    margin: 0px;
    background: rgb(78, 78, 200);
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav{
    flex: 0 100px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title {
    flex: 1;
    padding: 0.5em;
    font-size: 30px;
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.title:hover {
    color: rgb(250, 250, 250);   
}
menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
    align-items: center;
    margin: 0px;
    
}
menu .nav-item {
    padding: 0.3em;
}
header .username {
    float: right;
}
.user-info {
    padding-left: 0.3em;
}
.user {
    padding-left: 0.3em;
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding-right: 10px;
}
.user:hover {
    color:rgb(250, 250, 250);
}
footer {
    flex: 0 30px;
    background: rgb(30, 30, 30);
    color: rgb(250, 250, 250);
}
footer a {
    float: right;
}