.games-main {
    justify-content: left;
    align-items: start;
    padding-left: 2em;
    padding-top: 4em;

}

.accordion {
    --bs-accordion-bg: #222 !important;
    --bs-accordion-border-color: rgb(78, 78, 200) !important;
    --bs-accordion-btn-color: white !important;
    --bs-accordion-active-color: rgb(78, 78, 200) !important;
    --bs-accordion-btn-focus-border-color: white !important;
    --bs-accordion-btn-focus-box-shadow: white !important;
    width: 75vw;

}

.accordion-button {
    background-color: rgb(30, 30, 30) !important;
    outline: rgb(60, 60, 60) !important;
}

.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.character {
    flex: 0 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    padding-bottom: 0;
    margin: 0.5em;
    background: rgb(40, 40, 40)
}

.character-name-text {
    flex: 1 0
}

.remove-char-button {
    flex: 1;
    justify-self: end !important;
}

.character-name {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center !important;
}

@media (max-width: 700px) {
    .characters {
        flex-direction: column;
        align-items: start;
    }

    .accordion {
        width: 80vw;
    }

    .accordion-body {
        padding-left: 0.5em !important;
    }

    .character {
        flex-direction: row;
        flex: 0;
        width: 95%;
        padding: 0.5em;
    }

    .char-image {
        width: 40px;
        height: auto;
        margin-right: 1em;
    }
}

.add-game-button {
    margin: 1em 0;
    width: 10em;
    background-color: rgb(78, 78, 200) !important;
    border: none !important;
}

.add-game-form {
    border: solid rgb(78, 78, 200);
    width: auto;
    /* display: none; */
}

.add-game-title {
    margin: 0.5em;
}

input:focus {
    box-shadow: none !important;
}

input::placeholder {
    color: #aaa !important;
    opacity: 1;
}

.game-text {
    margin: 1em;
}

.game-radio {
    padding: 0px;
}

.game-radio .form-check-input {
    margin-left: 1em;
    border-radius: 50% !important;
    padding-left: none !important;
}

.game-radio .form-check-label {
    padding: 0 0.5em;
}

.submit-game-button {
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: rgb(78, 78, 200) !important;
    border: none !important;
}

main a {
    text-decoration: none !important;
    color: white !important;
}